@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Oooh+Baby&display=swap');

:root {
    --background-color: #FFD6C0;
    --sub-background-color: #dd9999;

    --header-font: "Oooh Baby", cursive;
    --header-color: #34435e;

    --main-font: "Oxygen", sans-serif;
    --main-text-color: #440381;

    --border-color: #EC368D;
}

header {
    background-color: var(--sub-background-color);
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    font-family: var(--main-font);
    font-weight: 400;
    text-align: left;
}

#menu {
    background: none;
    color: var(--main-text-color);
    border: 0;
    margin: 1rem;
    font-size: 2.5rem;
    position: fixed;
    top: 33px;
    right: 0;
}

#menu::before {
    content: "☰";
    color: var(--header-color);
    /* to open the menu */
}

#menu.open::before {
    content: "✗";
    /* to close the menu */
}

.open a {
    display: block;
    /* When the button is clicked, the open class is toggled (added/removed*/
}

.active::before {
    content: "📚"
        /* wayfinding symbol for user to know what page they are on*/
}

.navigation {
    display: none;
    /* show when 'open' class is added to the button but not otherwise*/
}

.open+nav .navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--sub-background-color);
    max-width: 640px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: var(--main-text-color);
}

.navigation a,
.storybook-nav a {
    display: block;
    /* block helps us design these well in the nav */
    color: var(--main-text-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: 0.25s;
}

.navigation a:hover,
.storybook-nav a:hover {
    border: 1px solid var(--border-color);
    /* adding this border helps us see the shape of the containers */
    background-color: var(--header-color);
    font-family: var(--header-font);
    font-size: larger;
    color: #fff;
}

.storybook-nav {
    display: grid;
    grid-auto-flow: column;
    border: 1px solid var(--border-color);
    padding-right: 2rem;
}

ul {
    list-style-type: none;
    /* takes bullets off of <ul> element */
}

.page-title {
    text-align: center;
}


body {
    background-color: var(--background-color);
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--main-text-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div {
    margin: 0 auto;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: 400;
    font-style: normal;
    color: var(--header-color);
    text-align: center;
}


.right-align {
    text-align: right;
}

/* for index.html */
.author-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
}

.author-box h3 {
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
    line-height: 1;
    min-height: 25px;
    margin: 0;
    padding-top: 5px;
}

.author-box img {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    padding-top: 30px;
    justify-self: center;
}

.author-box div {
    grid-column: 1;
    grid-row: 3/4;
}

/* for storybooks.html */
.storybook-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 5 columns */
    gap: 5px;
}

.storybook-imgs h3 {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
}

.storybook-imgs img {
    width: 100%;
    min-width: 50px;
    max-width: 100px;
    justify-self: center;
    align-self: center;
}


/* for rating.html */
.rating-box {
    display: grid;
    gap: 1rem;
    justify-content: center;
    max-width: 740px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.rating-card {
    gap: 1rem;
    border: .2rem solid var(--border-color);
    border-bottom: 0.2rem solid var(--border-color);
    border-top: 0.2rem solid var(--border-color);
    border-radius: .75rem;
    width: 100%;
    max-width: 400px;
    background-color: #f3d0be;
}

/* for tbr.html Form */
.book-recs {
    background-color: #fee3d6;
    ;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
}

.book-recs fieldset {
    border: solid var(--border-color);
    margin: 2rem 0;
    display: block;
    /* stack vertically */
    padding-top: .2rem;
    font-size: .9rem;
}

.book-recs label {
    display: block;
}

.book-recs legend {
    padding: 0 .5rem;
    padding-top: .75rem;
}

.book-recs div {
    padding-top: 1rem;
    font-size: .9rem;
}

.book-recs input[type="text"] {
    border: solid var(--sub-background-color);
    border-radius: 6px;
    width: 100%;
    max-width: 350px;
    padding-top: 0.25rem;
    padding: .75rem;
    color: grey;
    background-color: rgb(239, 235, 235);
}

.book-recs input[type="submit"] {
    border: solid 1px var(--border-color);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    margin-top: -1rem;
    box-shadow: 1px 1px 4px grey;
}


footer {
    font-size: x-small;
}

.footer-msg {
    font-size: small;
    font-style: italic;
    text-align: center;
}

/* FOR LARGER SCREENS */
@media (min-width: 780px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        /* ensure the navigation items are displayed as a row*/
        flex-direction: row;
        /* default is rows */
        justify-content: space-around;
        font-family: "Lato", sans-serif;
        font-weight: 300;
    }

    #menu {
        display: none;
        /* hide the hamburger button */
    }

    .navigation {
        flex-direction: row;
        /* maintain row direction */
    }

    .navigation a {
        display: block;
        flex: 1 1 auto;
        /* grow, shrink, auto*/
    }

    /**/
    .rating-card {
        width: 100%;
        max-width: 779px;
    }

    /* for index.html */
    .author-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 2fr;
    }

    .author-box h3 {
        grid-column: 1/3;
        grid-row: 1;
        text-align: center;
        line-height: 1;
        min-height: 25px;
        margin: 0;
        padding-top: 5px;
    }

    .author-box img {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        min-width: 200px;
        max-width: 400px;
        height: auto;
        padding-top: 30px;
    }

    .author-box div {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* for storybooks.html */
    .storybook-imgs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }

    .storybook-imgs h3 {
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/6;
        text-align: center;
    }

    .storybook-imgs img {
        width: 100%;
        min-width: 150px;
        max-width: 200px;
        justify-self: center;
        align-self: center;
    }
}