@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*
*   Header font for reference

font-family: "MedievalSharp", cursive;
font-weight: 400;
font-style: normal;
*/

/*
*   Default font for reference

font-family: "Mukta", sans-serif;
font-weight: 400;
font-style: normal;
*/

/**** mobile view ****/

:root {
    --header-font: "MedievalSharp";
    --main-font: "Mukta";
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font), cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #b53815;
    color: white;
    text-align: center;
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
    /* these will help to maintain aspect ratio as the window grows and shrinks on the user's end */
    padding: 0;
    margin: 0;
    border-top: solid #F7A501 1rem;
    border-bottom: solid #F7A501 1rem;
}

div {
    font-family: var(--main-font), sans-serif;
}

/* DATA section */
h2 {
    text-align: center;
}

.data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.data {
    display: flex;
    /* allows us to center the items on the page */
    justify-content: center;
    /* centers it horizontally */
}

.data th {
    text-align: right;
}

.data td {
    padding-left: 20px;
}

/* WEATHER section */
.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weather-box img {
    align-items: center;
    max-width: 100px;
    height: auto;
    border: none;
}

.weather {
    display: flex;
    justify-content: center;
}

.weather th {
    text-align: right;
}

.weather td {
    padding-left: 20px;
    text-align: left;
}

footer {
    display: grid;
    background: #b53815;
    font-family: "Mukta", sans-serif;
    color: #fff;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

/**** wider view ****/
@media only screen and (min-width: 769px) {
    main {
        background-image: url('/images/volcano-large.webp');
        background-size: cover;
        /* adjusts the image to cover the div container */
        background-position: center;
        width: 100%;
        min-height: 500px;
        padding-bottom: 1rem;
        position: relative;
        /* so that we can put the div boxes over top of it
        * it serves as a reference point for the div containers */
    }

    .background-img {
        display: none;
        /* the big image is only visible in the background as described under the main element above now */
    }

    .data-box {
        background-color: rgb(220, 182, 135, 0.35);
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    h2 {
        background-color: #F7A501;
        text-align: center;
        padding: 1rem;
    }

    .weather-box {
        background-color: rgb(220, 182, 135, 0.35);
        padding: 1rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .weather-box h2::after {
        content: " ☁️";
    }

    .weather-box img {
        display: none;
    }
}