@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*
*   Header font for reference

font-family: "MedievalSharp", cursive;
font-weight: 400;
font-style: normal;
*/

/*
*   Default font for reference

font-family: "Mukta", sans-serif;
font-weight: 400;
font-style: normal;
*/

/**** mobile view ****/
header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #b53815;
    color: white;
    text-align: center;
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
    /* these will help to maintain aspect ratio as the window grows and shrinks on the user's end */
    padding: 0;
    margin: 0;
    border-top: solid #F7A501 1rem;
    border-bottom: solid #F7A501 1rem;
}

div {
    font-family: "Mukta", sans-serif;
}

/* DATA section */
h2 {
    text-align: center;
}

.data {
    display: flex;
    /* allows us to center the items on the page */
    justify-content: center;
    /* centers it horizontally */
}

.data th {
    text-align: right;
}

.data td {
    padding-left: 20px;
}

/* WEATHER section */
.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weather-box img {
    align-items: center;
    max-width: 100px;
    height: auto;
    border: none;
}

.weather {
    display: flex;
    justify-content: center;
}

.weather th {
    text-align: right;
}

.weather td {
    padding-left: 20px;
    text-align: left;
}

footer {
    display: grid;
    background: #b53815;
    font-family: "Mukta", sans-serif;
    color: #fff;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

/**** wider view ****/
@media only screen and (min-width: 769px) {
    .data-box {
        /* top left corner */
    }

    .weather-box {
        /* bottom right corner */
    }
}