@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: #afaeae 1px;
    background-color: rgb(178, 182, 241);
    padding: 1rem;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}